<!doctype html>
<html>
<head>
    <title>Add Meal Page</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
    <h1>Add New Meal</h1>
    <div class="form-container">
        <form class="add-meal" action="/meal" method="post">
            <input type="date" name="date" placeholder="Date">
            <select class="form-control" name="meals" id="mealType">
                <option>Breakfast</option>
                <option>Lunch</option>
                <option>Dinner</option>
                <option>Snack</option>
            </select>
            <select name="foodId">
                <% for(var i = 0; i < foods.length; i++){ %> 
                    <option value="<%=foods[i]['_id']%>"><%=foods[i].name%></option>
                    <%}%>
            </select>
            <button type="submit" class="foodadd_btn">+</button>
        </form>
        <div class="food-add">
            <form>
                
            </form>
            <ul class="added-food"></ul>
        </div>    
    </div>
</body>
</html>

