<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link type="text/css" rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="container">
    <div class="cover-image">
        <div class="cover-page">
            <h1 class="title">Food Benefits Tracker</h1>

            <p>Login or Register with:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        </div>
    </div>
    <div class="home-about">
        <div class="home-middle-image"></div>
        <div class="home-middle-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cuius ad naturam apta ratio vera illa et summa lex a philosophis dicitur. Beatus autem esse in maximarum rerum timore nemo potest. Id mihi magnum videtur. Praeclare hoc quidem. Duo Reges: constructio interrete. At, illa, ut vobis placet, partem quandam tuetur, reliquam deserit. Quae similitudo in genere etiam humano apparet. Sed eum qui audiebant, quoad poterant, defendebant sententiam suam.</p>
        </div>
    </div>
    <div class="home-about">
        <div class="home-bottom-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cuius ad naturam apta ratio vera illa et summa lex a philosophis dicitur. Beatus autem esse in maximarum rerum timore nemo potest. Id mihi magnum videtur. Praeclare hoc quidem. Duo Reges: constructio interrete. At, illa, ut vobis placet, partem quandam tuetur, reliquam deserit. Quae similitudo in genere etiam humano apparet. Sed eum qui audiebant, quoad poterant, defendebant sententiam suam.</p>
        </div>
        <div class="home-bottom-image"></div>
    </div>

</div>
</body>
</html>