<!-- views/meals.ejs -->
<!doctype html>
<html>
<head>
    <title>Meals</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Your Meal's Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/addmeal" class="btn btn-default btn-sm">Add New Meal</a>
    </div>

    <div class="report">
		<p>
    		<% for(var i=0; i<nutrients.length; i++) { %>
        		<li class="nutrient">
		            <%= nutrients[i].name %>
		  			<li class="benefits">
		            	<%= nutrients[i].benefits %>
		        	</li>
		        </li>
		    <% } %>
		</p>
    </div>

</div>
</body>
</html>