<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/css/profile.css">
</head>
<body>
<div class="cover-image">
    <div class="photo1">
    </div>
    <div class="cover-page">
        <h1>Your Meal's</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/addmeal" class="btn btn-default btn-sm">Add New Meal</a>
    </div>
    <div class-"photo2">
    </div>
</div>
<div class="meal-dates">
    <h1>Meal entries</h1>

</div>
      <!-- LOCAL INFORMATION -->
<!--         <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

            </div>
        </div> -->

</body>
</html>