<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/css/profile.css">
</head>
<body>
<div class="cover-image">
    <div class="photo1">
    </div>
    <div class="cover-page">
        <h1>Your Meal's</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/addmeal" class="btn btn-default btn-sm">Add New Meal</a>
    </div>
    <div class-"photo2">
    </div>
</div>
<div class="meal-dates">
    <h1><%= dates.length %> - # of dates </h1>
    <ul class="dates">
    <% for(var i =0; i<dates.length; i++){ %>
        <li><%=dates[i]%></li>
        <li><ul class="dates-meals">
        <% for(var j=0; j<meals[dates[i]].length; j++){ %>
            <li><a href='/meal/<%=meals[dates[i]][j]._id%>'><%=meals[dates[i]][j].meals%></a></li>
        <% } %>
        </ul></li>
    <% } %>
    </ul>
</div>
</body>
</html>