body {
	font-family: Didot, "Didot LT STD", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	padding-top: 0;
}

html, body {
	height: 100%;
}

h1 {
	font-family: Didot, "Didot LT STD", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;
    text-shadow: 2px 2px 8px #808080;
}

.cover-image {
	background-image: url('../images/backgroundwood.jpg');
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 181px;
	background-color: #7F7371;
	margin-top: 25px;
}

.cover-page {
	color: #F5F1F0;
	font-size: 2.75em;
	margin: 0 auto;
	padding-top: 2px;
}

.btn {
	font-size: .4em;
}

.meal-dates {
	margin-top: 30px;
	color: #3C1A03;
}

.dates {
	font-size: 1.5em;
	list-style-type: none;
}

.dates-meals {
	list-style-type: none;
}





